/* Main element helpers */
body {
    margin: 0px;
}

/** Top bar */
.top-bar {
    background-color: #adec39;
    position: sticky;
    margin: 0px 0px 20px 0px;
    padding: 20px;
    box-shadow: 0px 10px 5px grey;
    display: flex;
    width: calc(100% - 40px);
    transition: width 1s, margin-left 1s;
}
    
.top-bar.menu-bar-open {
    width: calc(76% - 40px);
    margin-left: 24%;
}

.top-bar.drag-bar-open {
    width: calc(76% - 40px);
}

.top-bar.menu-bar-open.drag-bar-open {
    width: calc(52% - 40px);
    margin-left: 24%;
}

.top-bar__menu-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 20px;
    background-color: black;
}

.top-bar__menu-button__inner {
    width: 0px;
    height: 0px;
    padding: 2px 10px 2px 10px;
    margin: 4px auto 4px auto;
    background-color: #adec39;
}

.top-bar__dragbar-button__top {
    background-color: red;
    width: 40px;
    height: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    top: -3px;
    left: -7.5px;
    transition: top 1s, height 1s, border-radius 1s;
}

.top-bar__dragbar-button__top.drag-bar-open {
    height: 19px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}


.top-bar__dragbar-button__bottom {
    background-color: white;
    width: 40px;
    height: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    position: relative;
    top: -1px;
    left: -7.5px;
    transition: top 1s, height 1s, border-radius 1s;
}

.top-bar__dragbar-button__bottom.drag-bar-open {
    top: 3px;
    height: 17px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
}

.top-bar__dragbar-button__middle {
    background-color: white;
    position: relative;
    top: -29px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-radius: 9px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

.top-bar__title {
    flex-grow: 8;
    text-align: center;
}

/** Left side menubar */
.menu-bar {
    background-color: grey;
    float: left;
    width: 0%;
    height: 100%;
    position: fixed;
    transition: width 1s, margin-left 1s;
    overflow-y: scroll;
}

.menu-bar.menu-bar-open {
    width: 24%;
}

.menu-bar__title {
    overflow: hidden;
    text-overflow: clip;
    width: 80%;
    margin: 2% 10% 2% 10%;
    white-space: nowrap;
}

.menu-bar__title.menu-bar-open {
    white-space: normal;
    text-align: center;
}

.menu-bar__category-button {
    background-color: #adec39;
    border-left-color: #89ba2d;
    border-top-color: #89ba2d;
    border-right-color: #638720;
    border-bottom-color: #638720;
    border-radius: 5px;
    padding: 0px;
    border-width: 0px;
    margin: 2% 10% 2% 10%;
    width: 80%;
    overflow: hidden;
    text-overflow: clip;
    transition: border-width 0s, padding 0s;
    transition-delay: 0.5s;
    appearance: button;
    text-align: center;
    border-style: outset;
    color: black;
    font: 400 13.3333px Arial;
    text-decoration: none;
}

.menu-bar__category-button.menu-bar-open {
    padding: 1px 6px;
    border-width: 2px;
    transition-delay: 0s;
}

.menu-bar__category-contents {
    background-color: white;
    margin: 2% 10% 2% 10%;
    width: 80%;
    border-radius: 2px;
    list-style-type: none;
    padding: 0px;
}

.menu-bar__category-contents__scroll-button {
    width: 100%;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    border-color: black;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.menu-bar__category-contents__scroll-button.menu-bar-open:hover {
    background-color: #e6f9c3;
}

.menu-bar__category-contents__scroll-button.active.menu-bar-open {
    border-width: 0px 0px 1px 2px;
    font-weight: bold;
    background-color: #d3f494;
}


/** Right side dragbar */
.drag-bar {
    right: 0;
    width: 0%;
    height: 100vh;
    position: fixed;
    transition: width 1s, margin-left 1s;
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
}

.drag-bar.drag-bar-open {
    width: 24%;
}

.drag-bar__favourites-div {
    background-color: #f05151;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.drag-bar__favourites-div__drop-box {
    background-color: white;
    width: 90%;
    flex-grow: 1;
    margin: 2% 5% 2% 5%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-evenly;
    border-radius: 5px;
}

.drag-bar__title {
    overflow: hidden;
    text-overflow: clip;
    width: 80%;
    margin: 2% 10% 2% 10%;
    white-space: nowrap;
    flex-shrink: 0;
}

.drag-bar__title.drag-bar-open {
    white-space: normal;
    text-align: center;
}

.drag-bar__compare-div {
    background-color: #cccccc;
    width: 100%;
    flex-grow: 0;
}

.drag-bar__compare-div__inner {
    width: 90%;
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.drag-bar__compare-div__drop-box {
    height: 135px;
    margin: 8px;
    flex: 1;
    background-color: white;
    border-radius: 5px;
    display: flex;
}

.drag-bar__compare-div__compare-button {
    width: 80%;
    margin: 2% 10% 6% 10%;
    background-color: #f05151;
    appearance: button;
    text-align: center;
    border-style: outset;
    color: black;
    font: 400 13.3333px Arial;
    text-decoration: none;
    border-left-color: #bb0000;
    border-top-color: #bb0000;
    border-right-color: #660000;
    border-bottom-color: #660000;
    border-radius: 5px;
}

/** Pokemon List */
.poke-list {
    width: 100%;
    padding: 0px 24px 0px 24px;
    transition: width 1s, margin-left 1s;
}

.poke-list.menu-bar-open {
    width: 76%;
    margin-left: 24%;
}

.poke-list.drag-bar-open {
    width: 76%;
}

.poke-list.menu-bar-open.drag-bar-open {
    width: 52%;
    margin-left: 24%;
}

.poke-list__bin-title {
    margin: 0px;
    padding: 18px 0px 18px 0px;
    width: 100%;
}

.poke-list__bin-container {
    width: 100%;
    overflow: hidden;
}

/** Species Card */
.species-card {
    float: left;
    margin: 6px;
    padding: 6px;
    border: 2px;
    border-left-color: #89ba2d;
    border-top-color: #89ba2d;
    border-right-color: #638720;
    border-bottom-color: #638720;
    border-radius: 5px;
    border-style: solid;
    background-color: white;
}

.cell-species-card {
    margin: 6px;
    padding: 6px;
    border: 2px;
    border-left-color: #89ba2d;
    border-top-color: #89ba2d;
    border-right-color: #638720;
    border-bottom-color: #638720;
    border-radius: 5px;
    border-style: solid;
    background-color: white;
    vertical-align: top;
}

.species-card.fill {
    width: calc(100% - 24px);
}

.species-card.grow {
    margin: 0px;
    flex-grow: 1;
}

.species-card__title {
    margin: 0px 6px 0px 0px;
    float: left;
}

.species-card__title.grey {
    margin: 0px 0px 0px 0px;
    padding: 6px;
    background-color: #cccccc;
    border-radius: 6px;
}

.species-card__sprite {
    width: 68px;
    height: 56px;
}

.species-card__info-button {
    background-color: #efefef;
    border-left-color: #858585;
    border-top-color: #858585;
    border-right-color: #767676;
    border-bottom-color: #767676;
    border-radius: 5px;
    padding: 2px;
    border-width: 2px;
    text-overflow: clip;
    transition: border-width 0s, padding 0s;
    transition-delay: 0.5s;
    appearance: button;
    text-align: center;
    border-style: outset;
    color: black;
    font: 400 13.3333px Arial;
    text-decoration: none;
}

/** Overlay */
.info-overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.info-overlay__outer {
    position: fixed;
    left: 10%;
    top: 10%;
    z-index: 2;
    width: 80%;
    height: 80%;
    background-color: white;
    box-shadow: 0px 0px 50px 50px rgba(0,0,0,0.8);
    border-left-color: #89ba2d;
    border-top-color: #89ba2d;
    border-right-color: #638720;
    border-bottom-color: #638720;
    border-radius: 5px;
    border-style: solid;
    padding: 12px;
}

.info-overlay__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-evenly;
    height: calc(100% - 40px);
    overflow: scroll;
}

.info-overlay__title {
    margin: 6px;
    width: 100%;
}

.info-overlay__details-group {
    margin: 6px;
    background-color: #d3f494;
    border-radius: 8px;
    border-color: grey;
    border-width: 2px;
    border-style: solid;
}

.info-overlay__details-group__title {
    margin: 6px;
    width: 100%;
}

.info-overlay__details-group__table {
    margin: 6px;
    border-color: grey;
    border-width: 2px;
    border-style: solid;
}

.info-overlay__details-group__table-cell {
    padding: 6px;
    text-align: left;
    border-color: grey;
    border-width: 1px;
    border-style: solid;
}

.info-overlay__close-button {
    position: fixed;
    left: calc(90vw + 5px);
    top: calc(10% - 10px);
    z-index: 3;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border-style: outset;
    background-color: red;
    border-left-color: #bb0000;
    border-top-color: #bb0000;
}

.info-overlay__close-button__cross {
    position: absolute;
    top: 3px;
    left: 9.25px;
    width: 2px;
    height: 14px;
    z-index: 4;
    background-color: black;
    opacity: 0.7;
}

.info-overlay__close-button__cross.first-cross {
    transform: rotate(45deg);
}

.info-overlay__close-button__cross.second-cross {
    transform: rotate(-45deg);
}

/** Color helpers for table comparison **/
.red {
    background-color: #f05151;
}

.yellow {
    background-color: #f1f494;
}

.green {
    background-color: #adec39;
}

/* Colour helpers for types */
.type-icon {
    color: white;
    padding: 1px;
    border: 2px;
    border-style: solid;
    border-radius: 2px;
    text-align: center;
}

.type-colour.normal {
    background-color: #a8a878;
    border-color: #6d6d4e;
}

.type-colour.fire {
    background-color: #f08030;
    border-color: #9c531f;
}

.type-colour.fighting {
    background-color: #c03028;
    border-color: #7d1f1a;
}

.type-colour.water {
    background-color: #6890f0;
    border-color: #445e9c;
}

.type-colour.flying {
    background-color: #a890f0;
    border-color: #6d5e9c;
}

.type-colour.grass {
    background-color: #78c850;
    border-color: #4e8234;
}

.type-colour.poison {
    background-color: #a040a0;
    border-color: #682a68;
}

.type-colour.electric {
    background-color: #f8d830;
    border-color: #a1871f;
}

.type-colour.ground {
    background-color: #a8a878;
    border-color: #6d6d4e;
}

.type-colour.psychic {
    background-color: #f85888;
    border-color: #a13959;
}

.type-colour.rock {
    background-color: #b8a038;
    border-color: #786824;
}

.type-colour.ice {
    background-color: #98d8d8;
    border-color: #638d8d;
}

.type-colour.bug {
    background-color: #a8b820;
    border-color: #6d7815;
}

.type-colour.dragon {
    background-color: #7038f8;
    border-color: #4924a1;
}

.type-colour.ghost {
    background-color: #705898;
    border-color: #493963;
}

.type-colour.dark {
    background-color: #705848;
    border-color: #49392f;
}

.type-colour.steel {
    background-color: #b8b8d0;
    border-color: #787887;
}

.type-colour.fairy {
    background-color: #ee99ac;
    border-color: #9B6470;
}

.type-colour.unknown {
    background-color: #68a090;
    border-color: #44685e;
}
